@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: linear-gradient(darkblue, black);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ddd;
}

* {
  outline: none;
}
